.infoTabs {
    flex: 1;
    cursor: pointer;
  }

  .infoTabs:not(:last-child) {
    margin-right: 15px;
  }

  .infoTabs__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .infoTabs__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }

  .infoTabs--selected {
    border-top: 10px solid greenyellow;
  }

  .infoTabs--red {
    border-color: red;
  }

  .infoTabs__cases--green {
      color: lightgreen;
  }